body {
    color: black;
    background-color: gray;
}

figcaption {
    color: red;
}

section {
    color: black;
}

h3,
h4 {
    color: blue;
}

h1,
h2,
th {
    color: black;
}

.alt-row {
    color: red;
}

#military-and-security abbr[title] {
    color: red;
}

:link{
    color: white;
}

:visited{
    color: green;
}