@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald&display=swap');

body {
    color: #111;
    background-color: rgb(255, 255, 255);
    font-family: "Lato", "Oswald", "Arial", sans-serif;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
}

#next-steps {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
}

figcaption {
    color: rgb(0, 13, 255);
    font-family: "Oswald", "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-style: italic;
}

section {
    color: #111;
}

h3,
h4 {
    color: rgb(255, 145, 0);
}

h1,
h2,
th {
    color: #111;
}

td {
    font-family: "Oswald", "Lato", "Arial", sans-serif;
}

table,
th,
td {
    border: 1.5px solid #111;
}

p {
    line-height: 1.75;
}

.alt-row {
    color: rgb(0, 0, 0);
}

#future-aspirations abbr[title] {
    color: rgb(112, 41, 99);
}

a:link {
    color: rgb(128, 0, 0);
}

a:visited {
    color: rgb(0, 255, 0);
}

a:hover {
    background-color: #111;
    color: rgb(16, 241, 189);
}

a:active {
    color: rgb(240, 142, 14);
}

figure {
    padding: 10px 10px 10px 10px;
}

main {
    max-width: 600px;
}